body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(111, 153, 153);
    color: antiquewhite;
}

.title{
    text-shadow: 3px 3px 10px black;
}

.name {
    text-shadow: 3px 3px 10px black;
}


.title img{
    height: 60px;   
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}
.warning{
    color: rgb(221, 30, 30);
    font-size: 12px;
}
.github {
    font-size: 12px;
    text-decoration: none;
}
