body {
    background-color: rgba(0,0,0,0.50);
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)) ,url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 
}

.text-box {
    background-color: rgba(0,0,0,0.75); 
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 3px 3px 3px black;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0.5px;
    padding-bottom: 1px;
}