body {
    background-color: rgb(176, 147, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:floralwhite    
}


.cabecalho {
    margin-top: 10px;
    font-size: 30px;
}

.cabecalho h2 {
    text-shadow: 3px 3px 5px black;
}

.cabecalho h4 {
    font-size: 12px;
    display: block;
}


.cabecalho img {
    height: 120px;   
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.cabecalho-nav{
    background-color: rgb(145, 103, 228);
    width: 100%;
    height: 100%;
    font-size: 20px;

}
.cabecalho-nav ul{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.cabecalho-nav li {
    text-decoration: none;
}

.sobre {
    background-color: rgb(127, 104, 173);
    display: flex;
    flex-direction: column;
}

.sobre h2 {
    font-size: 20px;
}

.sobre article {
    font-size: 12px;
}


.sobre img {
    height: 30px;   
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.image-section-1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.image-section-1 img {
    width: 300px;
    height: 250px;
}

.marcar-consulta{
    display: flex;
    margin-top: 50px;
    background-color: rgb(127, 104, 173);
    flex-direction: column;
}

.marcar-consulta img {
    height: 50px;   
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.contato {
    display: flex;
    margin-top: 50px;
    background-color: rgb(127, 104, 173);
    flex-direction: column;
}

.contato img {
    height: 50px;   
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

#contato-instagram {
    font-size: 20px;
}

#contato-whatsapp {
    font-size: 20px;
}

#footer {
    margin-top: 30px;
    font-size: 15px;
}