body {
    background-color: rgb(176, 147, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:floralwhite    
}


.cabecalho {
    margin-top: 10px;
    font-size: 30px;
}

.cabecalho h2 {
    text-shadow: 3px 3px 20px black;
}

.cabecalho img {
    height: 120px;   
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.cabecalho-nav{
    background-color: rgb(145, 103, 228);
    margin-right: 1350px;
}
.cabecalho-nav ul{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.cabecalho-nav li {
    list-style: none;
}